<a href="/chat/view/<%= chat.id %>" class="text-secondary">
    <div class="container-fluid m-2 p-2 bg-light shadow-sm rounded-end rounded-bottom">
        <span><%= recipient %></span><span class="float-end"><%= chat.lastUpdate.toLocaleString() %></span>
    </div>
</a>