<h2>Register</h2>
<form method="POST" action="register">
    <%- include("_data_field_message") %> 
    <br>
    <%- include("_data_fields") %>
    <br>
    <input type="submit" value="Register">
</form>
<a href="/login">Login</a>