<div class="card-header">
    <div class="form-group">
        <div class="form-floating mb-3">
            <input class="form-control my-2 shadow-sm" type="text" name="name" placeholder="Job Name" value="<%= job.name %>" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please enter job name.</div>
            <label class="form-label text-secondary" for="name"><small>Job Name</small></label>
        </div>
    </div>
</div>