<div class="card-header">
    <div class="form-group">
        <label class="form-label" for="name">Job Name:</label>
        <input  class="form-control mb-2" type="text" name="name" placeholder="Job Name" value="<%= job.name %>" required>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter job name.</div>
    </div>
</div>