<div class="form-group">
    <label class="form-label" for="addressLine1">Address:</label>
    <input  class="form-control mb-2" type="text" name="addressLine1" placeholder="Address" value="<%= account.addressLine1 %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your address.</div>
</div>