<div class="form-group">
    <label class="form-label" for="addressLine2">Street:</label>
    <input  class="form-control mb-2" type="text" name="addressLine2" placeholder="Street" value="<%= account.addressLine2 %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your street.</div>
</div>