<div class="form-group">
    <div class="form-floating mb-3">
        <input  class="form-control mb-2 shadow-sm" type="text" name="addressLine2" placeholder="Street" value="<%= account.addressLine2 %>" required>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter your street.</div>
        <label class="form-label text-secondary" for="addressLine2"><small>Street</small></label>
    </div>
    
</div>