<div class="form-group">
    <label class="form-label" for="firstname">Firstname:</label>
    <input  class="form-control mb-2" type="text" name="firstname" placeholder="Firstname" value="<%= account.firstname %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your firstname.</div>
</div>