<div class="form-group">
    <label class="form-label" for="lastname">Lastname:</label>
    <input  class="form-control mb-2" type="text" name="lastname" placeholder="Lastname" value="<%= account.lastname %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your lastname.</div>
</div>