<div class="form-group">
    <label class="form-label" for="newpass">Password:</label>
    <div class="input-group mb-2">
        <input  type="password" class="form-control shadow-sm" name="password" id="password" placeholder="Password" aria-label="Password" aria-describedby="button-addon-password" required>
        <button class="btn btn-outline-secondary rounded-end shadow-sm" type="button" id="button-addon-password" onclick="togglePassword('password-icon', 'password')" aria-label="Show Password"><em class="bi bi-eye-slash-fill" id="password-icon"></em></button>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter your password.</div>
    </div>
</div>
<%- include("./_password_toggle_setup") %>