<div class="form-group">
    <label class="form-label" for="middlename">Middlename: (Optional)</label>
    <input  class="form-control mb-2" type="text" name="middlename" placeholder="Middlename" value="<%= account.middlename %>">
    <div class="valid-feedback"></div>
</div>