<div class="form-group">
    <div class="form-floating mb-3">
        <input  class="form-control mb-2" type="text" name="middlename" placeholder="Middlename" value="<%= account.middlename %>">
        <div class="valid-feedback"></div>
        <label class="form-label text-secondary" for="middlename"><small>Middlename(Optional)</small></label>
    </div>
</div>