<div class="form-group">
    <div class="input-group mb-2">
        <input  type="password" class="form-control shadow-sm" name="newpass1" id="newpass1" placeholder="New Password" aria-label="New Password" aria-desscribedby="button-addon-newpass1" pattern="^$|((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{8,})">
        <button class="btn btn-outline-secondary rounded-end shadow-sm" type="button" id="button-addon-newpass1" onclick="togglePassword('newpass1-icon', 'newpass1')"><em class="bi bi-eye-slash-fill" id="newpass1-icon"></em></button>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and is at least eight characters long.</div>
    </div>
</div>
<div class="form-group">
    <div class="input-group mb-2">
        <input  type="password" class="form-control shadow-sm" name="newpass2" id="newpass2" placeholder="Confirm Password" aria-label="Confirm Password" aria-desscribedby="button-addon-newpass2" pattern="^$|((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{8,})">
        <button class="btn btn-outline-secondary rounded-end shadow-sm" type="button" id="button-addon-newpass2" onclick="togglePassword('newpass2-icon', 'newpass2')"><em class="bi bi-eye-slash-fill"  id="newpass2-icon"></em></button>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and is at least eight characters long.</div>
    </div>
</div>
<%- include("./_password_toggle_setup") %>