<div class="form-group">
    <label class="form-label" for="number">Mobile Number:</label>
    <input  class="form-control mb-2" type="text" name="number" placeholder="Mobile Number" value="<%= account.number %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your number.</div>
</div>