<div class="form-group">
    <div class="input-group mb-2">
        <input  type="password" class="form-control" name="password" id="password" placeholder="Password" aria-label="Password" aria-desscribedby="button-addon-password" value="<%= account.password %>" pattern="^$|((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{8,})" required>
        <button class="btn btn-outline-secondary rounded-end" type="button" id="button-addon-password" onclick="togglePassword('password-icon', 'password')"><em class="fas fa-eye-slash" id="password-icon"></em></button>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and is at least eight characters long.</div>
    </div>
</div>
<%- include("./_password_toggle_setup") %>