<div class="form-group">
    <div class="form-floating mb-3">
        <input  class="form-control mb-2 shadow-sm" type="text" name="stateProvinceRegion" placeholder="State/Province/Region" value="<%= account.stateProvinceRegion %>" required>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter your state, province, or region.</div>
        <label class="form-label text-secondary" for="stateProvinceRegion"><small>State/Province/Region</small></label>
    </div>
</div>