<div class="form-group">
    <label class="form-label" for="username">Username:</label>
    <input  class="form-control mb-2" type="text" name="username" placeholder="Username" value="<%= account.username %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your username.</div>
</div>