<div class="form-group">
    <label class="form-label" for="zipPostalCode">Zip/Postal Code:</label>
    <input  class="form-control mb-2" type="text" name="zipPostalCode" placeholder="Zip/Postal Code" value="<%= account.zipPostalCode %>" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Please enter your zip or postal code.</div>
</div>