<footer class="container-fluid text-center py-3 animate__animated animate__fadeInUp" id="footer">
    <em class="bi bi-facebook"></em>
    <em class="bi bi-twitter"></em>
    <em class="bi bi-instagram"></em>
    <br>
    <em class="bi bi-badge-cc"> </em>2021 by <a class="text-secondary" href="/">Taskme</a>
</footer>