<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000"> 
    <link rel="apple-touch-icon" href="icon/outwork@4x.png.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <title>Outwork</title>

    <!-- initialize service worker -->
    <script defer>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then((reg) => {
                    console.log('Service worker registered...');
                })
                .catch((err) => {
                    console.error('Service worker not registered');
                });
        }

        var deferredPrompt = null;

        window.addEventListener('beforeinstallprompt', (e) => {
            const installer = document.getElementById("installer");
            installer.className = "nav-link";

            deferredPrompt = e;
        });

        function install(){
            // Show the prompt
            deferredPrompt.prompt();
            // Wait for the user to respond to the prompt
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    const installer = document.getElementById("installer");
                    installer.className = "nav-link disabled";
                    console.log('User accepted the A2HS prompt');
                } else {
                    console.log('User dismissed the A2HS prompt');
                }
                deferredPrompt = null;
            });
        }
    </script>

    <!-- initialize custom forms -->
    <script defer>
        // Disable form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand animate__animated animate__tada" href="/"><strong>Outwork</strong></a>
        
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" >
                            <i class="fas fa-user fa-lg"></i> Profile
                        </a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/public/insights">
                            <i class="fas fa-binoculars fa-lg"></i> Insights
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-people-carry fa-lg"></i> Support
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" id="installer" href="javascript:install()">
                            <i class="fas fa-download fa-lg"></i></i> Install
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-wpexplorer fa-lg"></i> More
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <%- body %>
    <footer class="container-fluid text-center  animate__animated animate__fadeInUp">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <br>
        <i class="far fa-copyright"></i>2021 by <a class="text-secondary" href="/">Outwork</a>
    </footer>
</body>
</html>