
    <footer class="container-fluid text-center">
        <p>For your own safety please do not share this information to other individuals including the Outwork staff, thankyou.</p>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <br>
        <i class="far fa-copyright"></i>2021 by <a class="text-secondary" href="/">Outwork</a>
    </footer>
</body>
</html>