<%- include('_mail_header'); %>
    <h2>Your Outwork Account's New Password is:</h2>
    <h2><%= pass %></h2>
    <br>
    <p>Login <a href="<%= link %>">here.</a></p>
<%- include('_mail_footer'); %> 