<%- include('_mail_header'); %> 
<div class="container">
    <h2 class="text-center text-secondary">Your Outwork Recovery OTP is:</h2>
    <br>
    <code><%= otp %></code>
    <br>
    <p class="text-center">(Expires in 15 minutes)</p>
    <br>
    <a href="<%= link %> "><button class="btn btn-dark float-right">Recover</button></a>
</div>
<%- include('_mail_footer'); %> 