<%- include('_mail_header'); %> 
    <h1> Recovery OTP: <%= otp %> </h2><small>(Expires in 15 minutes)</small>
    <br>
    <a href="<%= link %> "><button>Recover</button></a>
<%- include('_mail_footer'); %> 