<%- include('_mail_header'); %>
    <h2>Your Outwork Recovery OTP is:</h2>
    <h2><%= otp %></h2>
    <br>
    <p>To complete your recovery, please submit OTP <a href="<%= link %>">here.</a></p>
<%- include('_mail_footer'); %> 