<%- include('_mail_header'); %>
    <h2>Your Outwork Verification OTP is:</h2>
    <h2><%= otp %></h2>
    <br>
    <p>To complete your sign up, please submit OTP <a href="<%= link %>">here.</a></p>
<%- include('_mail_footer'); %> 