<%- include('_mail_header'); %>
    <div class="container">
        <h2 class="text-center text-secondary">Your Outwork Verification OTP is:</h2>
        <br>
        <h3><%= otp %></h3>
        <br>
        <a href="<%= link %> "><button class="btn btn-dark float-end">Verify</button></a>
    </div>
<%- include('_mail_footer'); %> 