<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%- include("layouts/_flash_message") %>
            <%- include("./layouts/job/_new_job") %>
            <% for(job of jobs) { %>
                <div class="card mb-3 mt-3  ">
                    <%- include("./layouts/job/job_view/_job_header") %>
                    <%- include("./layouts/job/job_view/_job_body") %>
                    <div class="card-footer">
                        <a href="#" class="btn btn-dark float-end">Apply</a>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>