<h1>Home Page</h1>
<%- include("account/_data_field_message") %>
<form method="POST" action="/job/new">
    <input type="text" name="name" placeholder="Job Name">
    <input type="text" name="location" placeholder="Location">
    <input type="text" name="details" placeholder="Job Details">
    <input type="text" name="skills" placeholder="Required Skills">
    <input type="submit" value="Post">
</form>