<div class="container-sm animate__animated animate__zoomInDown">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 mt-5 pt-5">
            <h1 class="text-center">Recovery OTP</h1>
            <%- include("../layouts/_flash_message") %> 

            <form method="POST" action="/recover/<%= id %>/otp" class="needs-validation" novalidate>
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input  class="form-control mb-2" type="text" name="otp" placeholder="Recovery OTP" value="<%= otp %>" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please enter your Verification OTP.</div>
                        <label class="form-label text-secondary" for="otp"><small>Recovery OTP</small></label>
                    </div>
                </div>
                <input class="btn btn-dark float-end" type="submit" value="Send New Password">
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>