<div class="container-sm">
    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 mt-5 pt-5">
            <h1 class="text-center animate__animated animate__bounceInDown">Recover Account</h1>

            <%- include("../layouts/_flash_message") %>

            <form method="POST" action="/recover" class="needs-validation animate__animated animate__fadeInLeft" novalidate>
                <div class="form-group">
                    <label class="form-label" for="email">Registered Email:</label>
                    <input  class="form-control mb-2" type="email" name="email" placeholder="Registered Email" value="<%= email %>" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please enter your registered email.</div>
                </div>
                
                <input class="btn btn-dark float-end" type="submit" value="Send OTP">
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>