<div class="card mb-3 mt-3 animate__animated animate__pulse shadow-sm">
    <%- include("./job_view/_job_header") %>
    <%- include("./job_view/_job_body") %>
    <div class="card-footer">
        <form method="GET" action="/job/view/<%= job.id %>">
            <button type="submit" class="btn float-end"><em class="bi bi-pencil-square fa-lg"></em></button>
        </form>
    </div>
</div>