<div class="card mb-3 mt-3 animate__animated animate__pulse">
    <%- include("./job_view/_job_header") %>
    <%- include("./job_view/_job_body") %>
    <div class="card-footer">
        <% if (application.accepted) { %>
            <%- include("../../application/_owned_application_accepted_minimized", { application: application }) %>
        <% } else { %>
            <%- include("../../application/_owned_application_minimized", { application: application }) %>
        <% } %>
    </div>
</div>