<div class="card mb-3 mt-3  ">
    <%- include("./job_view/_job_header") %>
    <%- include("./job_view/_job_body") %>
    <div class="card-footer">
        <input type="submit" class="btn btn-dark float-end mx-2" value="Edit">
        <a href="#" class="btn btn-dark float-end">Applications</a>
    </div>
</div>