<form method="POST" action="/job/new" class="needs-validation animate__animated animate__pulse" novalidate>
    <div class="card mb-3 shadow-sm">
        <%- include("./job_fields/_job_field_header") %>
        <%- include("./job_fields/_job_field_body", { job: job }) %>
        <div class="card-footer">
            <button type="submit" class="btn btn-dark float-end"><em class="bi bi-pin-angle-fill"></em> Post</button>
        </div>
    </div>
</form>