<div class="container-sm animate__animated animate__bounceInDown">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 mt-5 pt-5">
            <div class="container-fluid">
                <h1 class="text-center">Login</h1>
                <p class="text-center animate__animated animate__rubberBand animate__delay-2s">
                    <strong>New to this site?
                    </strong>
                    <span><a href="/register" class="text-secondary">Register</a></span>
                </p>
            </div>
            <%- include("../layouts/_flash_message") %>
            <form method="POST" action="/login" class="needs-validation" novalidate>
                <div class="form-group">
                    <label class="form-label" for="emailUsername">Email or Username:</label>
                    <input  class="form-control mb-2"type="text" id="my-element" name="emailUsername" placeholder="Email or Username" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please enter your email or username.</div>
                </div>
                <%- include("../layouts/data_fields/_login_password_field") %>
                <a href="/recover" class="text-secondary underline">Forgot passsword?</a>
                <div class="form-group">
                    <input class="btn btn-dark float-end" type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>