<div class="container-fluid pt-3 animate__animated animate__bounceInDown">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%- include("../layouts/_flash_message") %>
            <%- include("../layouts/job/_job_view") %>
            <%- include("./_view_applications") %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<%- include("../application/_application_edit_modal") %>