<!-- Modal -->
<script>
    function updateApplication(application_id) {
        const form = document.getElementById("applicationEditForm");
        form.action=`/application/update/${application_id}?_method=PATCH`;
    }
</script>
<div class="modal fade" id="applicationEditModal" tabindex="-1" aria-labelledby="applicationEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" action="#" class="needs-validation" id="applicationEditForm" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applicationEditModalLabel">Edit Application Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <textarea class="form-control shadow-sm pb-5" rows="0" id="message" name="message" placeholder="Message" onkeypress="this.classList.remove('pb-5');" required></textarea>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please enter application message</div>
                        <label class="form-label text-secondary" for="details"><small>Details</small></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>