<!-- Modal -->
<div class="modal fade" id="applicationEditModal" tabindex="-1" aria-labelledby="applicationEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" action="#" class="needs-validation" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applicationEditModalLabel">Edit Application Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Message" rows="1" required></textarea>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please enter application message</div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>