<p class="my-0">
    <small> Status: 
        <% if (application.accepted) { %>
            <span class="text-success">Accepted</span> 
        <% } else { %> 
            <span class="text-secondary">Pending</span>
        <% } %> 
    </small>
</p>