<div class="card mb-3 mt-3 animate__animated animate__bounceInUp shadow-sm">
    <%- include("./_application_body") %>
    <div class="card-footer">
        <form method="POST" action="/job/cancel/<%= application.id %>?_method=DELETE">
            <input type="submit" class="btn btn-dark float-end" value="Kick">
        </form>
    </div>
</div>