<div class="card mb-3 mt-3 animate__animated animate__bounceInUp shadow-sm">
    <%- include("./_application_body") %>
    <div class="card-footer">
        <form method="POST" action="/job/cancel/<%= application.id %>?_method=DELETE">
            <button type="submit" class="btn btn-dark float-end"><em class="bi bi-x-lg"></em> Kick</button>
        </form>
    </div>
</div>