<div class="card mb-3 mt-3 animate__animated animate__bounceInUp">
    <%- include("./_application_body") %>
    <div class="card-footer">
        <form method="POST" action="/job/accept/<%= application.id %>?_method=PATCH">
            <input type="submit" class="btn btn-dark float-end" value="Accept">
        </form>
    </div>
</div>