<div class="row align-items-end">
    <div class="col">
        <p style="white-space: pre-wrap;"><%= application.message %><em class="float-end"><%= application.time.toLocaleString() %></em></p>
    </div>
    <div class="col-auto">
        <form method="POST" action="/application/cancel/<%= application.id %>?_method=DELETE">
            <input type="submit" class="btn btn-dark float-end m-2" value="Quit">
        </form>
    </div>
</div>

