<div class="card mb-3 mt-3  ">
    <%- include("./_application_body") %>
    <div class="card-footer">
        <form method="POST" action="/application/cancel/<%= application.id %>?_method=DELETE">
            <input type="submit" class="btn btn-dark float-end" value="Cancel">
        </form>
        <input type="button" class="btn btn-dark me-2 float-end" value="Edit" onclick="updateApplication('<%= application.id %>')" data-bs-toggle="modal" data-bs-target="#applicationEditModal">
    </div>
</div>