<div class="card mb-3 mt-3 animate__animated animate__bounceInUp shadow-sm">
    <%- include("./_application_body") %>
    <div class="card-footer">
        <strong class="text-secondary float-end">Status: Accepted</strong>
    </div>
</div>