<div class="d-flex align-items-center justify-content-center parallax" style="background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); height: 100vh;">
  <h1 class="p-3 d-inline bg-dark text-light text-center title">OUR MISSION</h1>
</div>

<div class="container-fluid p-5 animate__animated animate__fadeInLeft">
  <p class="text-secondary">
    With our innovative and insightful technology, we strive to enhance our users’ every day
    experiences. Founded in 2021, our incredible team of engineers, programmers, designers and marketers have worked
    tirelessly to bring Outwork to the forefront of the industry. We will continue to work relentlessly to become the
    technological standard, providing big picture insights and solutions for job seekers. Get in touch to learn more.
  </p>
</div>

<div class="d-flex align-items-center justify-content-center parallax" style="background-image: url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=702&q=80'); height: 60vh;">
  <h1 class="p-3 d-inline bg-dark text-light text-center title">OUR TECHNOLOGY</h1>
</div>

<div class="container-fluid p-5 bg-dark animate__animated animate__fadeInLeft">
  <p class="text-light">Smart solutions are at the core of all that we do at Outwork. Our main goal is finding smart
    ways of using technology that will help build a better tomorrow for everyone, everywhere.</p>
</div>

<div class="d-flex align-items-center justify-content-center parallax" style="background-image: url('https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80'); height: 60vh;">
  <h1 class="p-3 d-inline bg-dark text-light text-center title">OUR MOTIVATION</h1>
</div>

<div class="container-fluid p-5 bg-dark animate__animated animate__fadeInLeft">
  <figure class="text-light">
    <blockquote class="blockquote">
      <p>Well done is better than well said.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Benjamin Franklin
    </figcaption>
  </figure>
</div>

<div class="d-flex mb-5 align-items-center justify-content-center parallax" style="background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); height: 30vh;">
</div>